<html>
	<head>
		<meta charset="utf-8" /> 
		<title> Instaedit demo  </title>

		<script>
			var instaeditLoaded = false;

			window.onload = function () {
				var button = document.getElementById('instaedit-edit');

				button.onclick = function () {
					instaedit('https://raw.github.com/binaryage/instaedit/master/demo/js/parser-example.js')
				}
			}

			function instaedit(parserScript) {
				if(!instaeditLoaded) {
					addJavascript('https://raw.github.com/binaryage/instaedit/master/src/instaedit-worker.js');
					addJavascript(parserScript);
					instaeditLoaded = true;
				} else {
					console.log('Instaedit already loaded!');
				}
			}

			function addJavascript(name) {
				var th = document.getElementsByTagName('head')[0];
				var s = document.createElement('script');
				s.setAttribute('type', 'text/javascript');

				var id = new Date().getTime();
				s.setAttribute('src', name + '?id' + id);

				th.appendChild(s);
			}
		</script>

		<script type="instaedit/rawdata">
			You can edit this content via Edit button, placed on the bottom of this site.
		</script>

		<!-- <meta raw-data-source="https://raw.github.com/binaryage/blog/gh-pages/_posts/2012-04-07-hello-san-francisco.md"> -->

	</head>
	<body>
		<h1>{{ page.title }}</h1>

		{{ content }}
	</body>
</html>